body {
  background-image: url("../images/moto.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.overlay {
  background-color: rgba(50, 52, 87, 0.5);
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  bottom: 0;
  position: absolute;
}

.lista {
  margin-top: 1rem;
  border-top: 2px solid white;
  list-style: none;
}

.tarefa {
  border-bottom: 1px solid white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.check-tarefa {
  float: right;
  color: white;
}

.check-tarefa :hover {
  color: tomato;
}

.done {
  text-decoration: line-through;
  text-decoration-style: double;
}
