body {
  /* background-color: #6e4bb8; */
  background-image: url("../images/moto.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.overlay {
  background-color: rgba(50, 52, 87, 0.5);
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  bottom: 0;
  position: absolute;
}
h1 {
  margin-top: 4rem;
}
h4 {
  margin-top: 2rem;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 1rem;
  border-top: 2px solid white;
}
li {
  border-bottom: 1px solid white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
i {
  float: right;
  padding-left: 15px;
}
.iBtn {
  float: none;
  padding-left: 15px;
}
a.check-item {
  color: white;
}
a.check-item :hover {
  color: tomato;
}
a.limpar {
  text-decoration: none;
}
